%p#notice= notice
%p
  %b Name:
  = @company.name
%p
  %b Desc:
  = @company.desc
%p
  %b Site:
  = @company.site
%p
  %b Logo:
  = @company.logo
%p
  %b Icon:
  = @company.icon
%p
  %b Agent name:
  = @company.agent_name
%p
  %b User:
  = @company.user
= link_to 'Edit', edit_company_path(@company)
|
\#{link_to 'Back', companies_path}
