
.hero-unit
  %table{:class =>'table table-striped stacked'}
    - @adverts.each do |advert|
      %tr{:onclick=>"onClickTableCell(#{advert.id}); return false"}
        %td= advert.work_category
        %td= advert.town_country
        %td= advert.Company
      
      
      
= will_paginate @adverts



