.container
  .row
    .span9
      = form_for @advert,:action=>"/adverts/create", :html => { :class => 'form-horizontal' },:multipart => true  do |f|
        -if @advert.errors.any?
          #error_explanation
            %h2= "#{pluralize(@advert.errors.count, "error")} prohibited this advert from being saved:"
            %ul
              - @advert.errors.full_messages.each do |msg|
                %li= msg
        .well
          %div{:class=>"alert alert-info",:id=>"preview_page_controls"}
            #div_page_cotrols_container
              #div_page_buttons
                = link_to 'Вернуться на главную страницу', root_path,:class=>"btn btn-success",:id=>"back_link"
          %fieldset{:style=>"margin-top:10px;"}
            %legend Создание новой вакансии
            .control-group
              %label{:class=>"control-label"} Название вакансии
              .controls
                = f.text_field :work_category, :class =>"vacancy-field"
            .control-group
              %label{:class=>"control-label"} Максимальная з/п (руб.)
              .controls
                = f.text_field :money, :class =>"vacancy-field"
            .control-group
              %label{:class => "control-label"} Тип занятости
              .controls
                %label{:class =>"radio"}
                  %input{:id=>"workingType1",:type=>"radio",:checked=>"true",:value=>"fulltime",:name=>"employment_type"}
                  %span{:class=>"label label-info"} Полная занятость
                %label{:class =>"radio",:style=>"margin-top:10px;"}
                  %input{:id=>"workingType2",:type=>"radio",:checked=>(@advert.employment_type == "parttime"),:value=>"parttime",:name=>"employment_type"}
                  %span{:class=>"label label-success"} Частичная занятость
                %label{:class =>"radio",:style=>"margin-top:10px;"}
                  %input{:id=>"workingType3",:type=>"radio",:checked=>(@advert.employment_type == "remote"),:value=>"remote",:name=>"employment_type"}
                  %span{:class=>"label label-warning"} Удаленная работа
                %label{:class =>"radio",:style=>"margin-top:10px;"}
                  %input{:id=>"workingType4",:type=>"radio",:checked=>(@advert.employment_type == "forone"),:value=>"forone",:name=>"employment_type"}
                  %span{:class=>"label"} Работа на один раз
            .control-group
              %label{:class=>"control-label"} Город, страна
              .controls
                = f.text_field :town_country,:class =>"vacancy-field"
            .control-group
              %label{:class=>"control-label"} Название компании
              .controls
                = f.text_field :company,:class =>"vacancy-field"
            .control-group
              %label{:class=>"control-label"} Сайт компании http://
              .controls
                = f.text_field :site,:class =>"vacancy-field"
            .control-group
              %label{:class=>"control-label"} Email для связи
              .controls
                = f.text_field :email,:class =>"vacancy-field"
            .control-group
              %label{:class=>"control-label"} Контактый телефон
              .controls
                = f.text_field :telefon,:class =>"vacancy-field"
            .control-group
              %label{:class=>"control-label"} Логотип компании
              .controls
                -if !@advert.icon.nil? && !@advert.icon.blank?
                  %img{:src=>"#{@advert.icon}",:height=>"50",:width=>"80"}
                  =f.hidden_field :icon, :value => @advert.icon
                  %hr
                  #emaildivlogo 
                    Изменить логотип:
                  #emaildivtext
                    = f.file_field :logo,{:id=>"logo_upload"}
                  %hr
                -else
                  = f.file_field :logo,{:id=>"logo_upload"}
            .control-group
              %label{:class=>"control-label"} Описание вакансии, основные требования
              .controls
                %textarea#aboutVacancy{:name => "base_demands"}Напишите насколько можно максимально  подробно о вакансии, например:<br></p><p>В издательском доме <strong>"Рынок Электротехники"</strong> открыта вакантная должность <span class="b-highlighted">Менеджера</span> по продажам рекламных площадей (знание электротехники не нужно).<br></p><br><p><strong>Обязанности:</strong></p><ul><li>ведение переговоров с клиентами по&nbsp;вопросам &nbsp;размещения рекламы в журналах&nbsp;</li><li>продажа рекламы в специализированные журналы</li><li>работа с&nbsp; новой и уже существующей клиентской базой</li><li>клиентская база предоставляется</li><li>заключение договоров на размещение рекламы</li><li>выезды к клиентам на встречи и продажа по телефону</li><li>исходящие звонки потенциальным клиентам по предоставляемой клиентской базе</li><li>отслеживание оплат&nbsp;</li><li>ведение клиента</li><li>возможны командировки</li><li>участие во всех специализированных выставках и конференциях&nbsp;</li></ul><br><p><strong>Требования:</strong></p><ul><li>женщина 23-38лет</li><li>опыт работы в продажах не обязателен</li><li>обязателен опыт работы в Москве не менее 1 года</li><li>гражданство РФ</li></ul><br><p><b>Условия:</b></p><ul><li>работа в офисе</li><li>понедельник-пятница 9.00-18.00&nbsp;</li><li>м. Савеловская &nbsp;и м. Марьина Роща 15 минут пешком от метро</li><li>клиентская база предоставляется&nbsp;</li><li>молодой дружный коллектив</li><li>возможен карьерный рост</li><li>бесплатное профессиональное обучение<br></li><li>оформление по ТК РФ<br></li><li>компенсация питания<br></li></ul>
                :javascript
                  CKEDITOR.replace( 'aboutVacancy' );
                  var config = { extraPlugins: 'onchange'};
                  CKEDITOR.on('aboutVacancy', function (e) {
                  e.editor.on('change', function () {
                  });
                  });

        .actions{:style=>"float:right"}
          %input#show-preview-link{:value=>"Предосмотр",:class=>"btn  btn-info",:type=>"submit"}
          %input#save-link{:value=>"Сохранить",:class=>"btn  btn-primary",:type=>"submit"}
    



    .span3
      %div{:class=>"alert alert-info",:style=>"color:black;width:250px;"}
        .aboutheader Лучшая работа для студентов!
        .aboutwork
          %ul
            %li Только лучшие вакансии!
            %li Нет утомительной регистрации!=)
            %li Мы находим работу, которую Вы ищите!
            %li Наш сайт посещают молодые, амбициозные люди=)!