%h1 Адверты такие супер охуенные:)

 

= form_tag adverts_path, :method => :get, :remote => true  do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil
 

%table{:id =>'adverts_table'}
  %tr
    %th Email
    %th Employment type
    %th Town country
    %th Work category
    %th Base demands
    %th Instructions
    %th Company
    %th Name
    %th Desc
    %th Site
    %th Logo
    %th Icon
    %th Agent name
    %th User
    %th
    %th
    %th

  - @adverts.each do |advert|
    %tr
      %td= advert.email
      %td= advert.employment_type
      %td= advert.town_country
      %td= advert.work_category
      %td= advert.base_demands
      %td= advert.instructions
      %td= advert.Company
      %td= advert.name
      %td= advert.desc
      %td= advert.site
      %td= advert.logo
      %td= advert.icon
      %td= advert.agent_name
      %td= advert.user
      %td= link_to 'Show', advert
      %td= link_to 'Edit', edit_advert_path(advert)
      %td= link_to 'Destroy', advert, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Advert', new_advert_path
