.container
  .row
    .span9
      = form_for @advert,:action=>"/adverts/create", :html => { :class => 'form-horizontal',:id=>"preview_advert_form" }  do |f|
        -if @advert.errors.any?
          #error_explanation
            %h2= "#{pluralize(@advert.errors.count, "error")} prohibited this advert from being saved:"
            %ul
              - @advert.errors.full_messages.each do |msg|
                %li= msg
        .well
          %div{:class=>"alert alert-info",:id=>"preview_page_controls"}
            #div_page_cotrols_container
              #div_page_text
                Нажмите "Сохранить", чтобы вакансия появилась на сайте. Чтобы вернуться в режим редактирования, нажмите "Редактировать".
              #div_page_buttons
                %input#preview-returnedit{:value=>"Редактировать",:class=>"btn btn-success"}
                %br
                %input#preview-save{:value=>"Сохранить",:class=>"btn btn-info",:type=>"submit"}

          .view_advert_table_div
            .view_advert_cell_div
              .view_advert_icon_cell_div
                -if !@advert.icon.nil? && !@advert.icon.blank?
                  %img{:src=>"#{@advert.icon}",:class=>"view_advert_cell_img"}
                -else
                  %img{:src=>"../images/work2.png"}
              .view_advert_town_cell_div
                .work_img_div
                  %img{:src=>"../images/location2.png",:height=>"40",:width=>"40"}
                .work_towncountry_div
                  =@advert.town_country
              .view_advert_worktype_timecr_cell_div
                .div_work_type
                  -if @advert.employment_type == 'fulltime'
                    %span{:class=>"label label-info"} Полная занятость
                  -if @advert.employment_type == 'parttime'
                    %span{:class=>"label label-success"} Частичная занятость
                  -if @advert.employment_type == 'remote'
                    %span{:class=>"label label-warning"} Удаленная работа
                  -if @advert.employment_type == 'forone'
                    %span{:class=>"label"} Работа на один раз
                .div_time_create
                  -if !@advert.site.nil? && !@advert.site.blank?
                    %a{:href=>"http://#{@advert.site}",:id=>"site-link",:target=>"_blank"} #{@advert.site}
              .view_advert_cat_company_cell_div
                .view_work_cat_div
                  =@advert.work_category
                .view_work_company_name_div
                  =@advert.company
          %hr
          #money_div_logo
            Макимальная з/п в рублях:
          #money_div_content
            #{@advert.money}
          -if !@advert.email.nil? && !@advert.email.blank?
            %hr
            #emaildivlogo 
              %img{:src=>"../images/mail.png",:height=>"40",:width=>"45"}
            #emaildivtext
              #{@advert.email}
            %hr
          -if !@advert.telefon.nil? && !@advert.telefon.blank?
            #telefondivlogo
              %img{:src=>"../images/phone.png",:height=>"40",:width=>"45"}
            #telefondivcontent
              #{@advert.telefon}
            %hr
          #basedemands-view
            #basedemands-content
              %div{:class=>"alert alert-info",:id=>"text"}
                #{@advert.base_demands.html_safe}
          =f.hidden_field :base_demands, :value => @advert.base_demands
          =f.hidden_field :icon, :value => @advert.logo
          =f.hidden_field :work_category, :value => @advert.work_category
          =f.hidden_field :company, :value => @advert.company
          =f.hidden_field :site, :value => @advert.site
          =f.hidden_field :town_country, :value => @advert.town_country
          =f.hidden_field :employment_type, :value => @advert.employment_type
          =f.hidden_field :telefon,:value => @advert.telefon
          =f.hidden_field :email,:value => @advert.email
          =f.hidden_field :money,:value => @advert.money


    .span3
      %div{:class=>"alert alert-info",:style=>"color:black;width:250px;"}
        .aboutheader Лучшая работа для студентов!
        .aboutwork
          %ul
            %img{:src=>"../images/mgu.jpg",:height=>"60",:width=>"70"}
            %img{:src=>"../images/mgimologo-big_eng.jpg",:height=>"60",:width=>"70"}
            %img{:src=>"../images/rggu.jpeg",:height=>"60",:width=>"70"}
            %img{:src=>"../images/she.jpg",:height=>"60",:width=>"70"}
            %img{:src=>"../images/mirea.jpeg",:height=>"60",:width=>"70"}
            %img{:src=>"../images/marhi.jpg",:height=>"60",:width=>"70"}