%p#notice= notice

%p
  %b Email:
  = @advert.email
%p
  %b Фриланс/Фулл тайм/Прайм тайм?:
  = @advert.employment_type   
%p
  %b Town country:
  = @advert.town_country
%p
  %b Work category:
  = @advert.work_category
%p
  %b Base demands:
  = @advert.base_demands
%p
  %b Instructions:
  = @advert.instructions
%p
  %b Company:
  = @advert.Company
%p
  %b Name:
  = @advert.name
%p
  %b Desc:
  = @advert.desc
%p
  %b Site:
  = @advert.site
%p
  %b Logo:
  = image_tag @advert.logo if @advert.logo?
%p
  %b Icon:
  = @advert.icon
%p
  %b Agent name:
  = @advert.agent_name
%p
  %b User:
  = @advert.user

= link_to 'Edit', edit_advert_path(@advert)
\|
= link_to 'Back', adverts_path
