!!!
%html
  %head
    %link{:rel=>"shortcut icon",:href=>"../images/up.png  ",:type=>"image/x-icon"}
    = javascript_include_tag "jquery", :media=>"all"
    = javascript_include_tag "application"
    = javascript_include_tag "ckeditor/ckeditor"
    = javascript_include_tag "bootstrap", :media=>"all"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "applestyle_search"
    = csrf_meta_tag
  %body
  #header
    %table{:width=>"100%"}
      %tr
        %td
          %table
            %tr
              %td
                %p{:style=>"font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;font-size:50px;margin-right:20px;"}
                  Likes
                  %span{:color=>"red"}
                    Work!
              %td 
                %img{:src=>"../images/up1.png",:height=>"90",:width=>"90"}
        %td
          = link_to 'Добавить вакансию', new_advert_path,:class=>"btn btn-large btn-info",:id=>"addVacansyButton"
  = yield
    
      
    

    


 