!!!
%html
  %title Likes Work! Лучшая работа для студентов!
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{:rel=>"shortcut icon",:href=>"../images/up.png  ",:type=>"image/x-icon"}
    = javascript_include_tag "jquery", :media=>"all"
    = javascript_include_tag "jquery-ui", :media=>"all"
    = javascript_include_tag "ckeditor/ckeditor"
    = javascript_include_tag "application"
    = javascript_include_tag "bootstrap", :media=>"all"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "applestyle_search"
    = csrf_meta_tag
  %body
  :javascript
    (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
    try {
    w.yaCounter17287102 = new Ya.Metrika({id:17287102, enableAll: true, webvisor:true});
    } catch(e) { }
    });
    var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
  %noscript
    %div
      %img{:alt => "", :src => "//mc.yandex.ru/watch/17287102", :style => "position:absolute; left:-9999px;"}
  #header
    %table{:width=>"100%",:id=>"headtable"}
      %tr
        %td
          %table 
            %tr
              %td
                %p{:style=>"font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;font-size:40px;margin-right:20px;"}
                  Likes
                  %span{:color=>"red"}
                    Work!
              %td 
                %img{:src=>"../images/up1.png",:height=>"65",:width=>"75"}
        %td
          = link_to 'Добавить вакансию', new_advert_path,:class=>"btn btn-info",:id=>"addVacansyButton"
  = yield
  #bottom
    #aboutdiv
      По всем вопросам: http://vk.com/withmyself. Каждый студент желает знать Likes Work!
    
    
      
    

    


 