!!!
%html
  %title Likes Work! Лучшая работа для студентов!
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{:rel=>"shortcut icon",:href=>"../images/up.png  ",:type=>"image/x-icon"}
    = javascript_include_tag "jquery", :media=>"all"
    = javascript_include_tag "jquery-ui", :media=>"all"
    = javascript_include_tag "ckeditor/ckeditor"
    = javascript_include_tag "application"
    = javascript_include_tag "bootstrap", :media=>"all"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "applestyle_search"
    = csrf_meta_tag
  %body
  #header
    %table{:width=>"100%",:id=>"headtable"}
      %tr
        %td
          %table 
            %tr
              %td
                %p{:style=>"font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;font-size:40px;margin-right:20px;"}
                  Likes
                  %span{:color=>"red"}
                    Work!
              %td 
                %img{:src=>"../images/up1.png",:height=>"65",:width=>"75"}
        %td
          = link_to 'Добавить вакансию', new_advert_path,:class=>"btn btn-info",:id=>"addVacansyButton"
  = yield
  #bottom
    #aboutdiv
      По всем вопросам: http://vk.com/withmyself. Каждый студент желает знать Likes Work!
    
    
      
    

    


 