!!!
%html
  %head
    %title Vendetta02
    = javascript_include_tag :defaults
    = javascript_include_tag "bootstrap", :media=>"all"
    = stylesheet_link_tag "bootstrap"
    = csrf_meta_tag
    <style>#adverts_search {margin-top: 100px; }
    </style>
    <style>#search {width: 500px; }
    </style>
  %body
  .container
    .row
      .span9
        #user_nav
        - if user_signed_in?
          Signed in as #{current_user.email}. Not you?
          \#{link_to "Sign out", destroy_user_session_path}
        - else
          = link_to "Sign up", new_user_registration_path
          or #{link_to "sign in", new_user_session_path}
        = yield
      .span3{:style =>"margin-top:100px;"} 
        %h2 adout us
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
    

    


 